canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  opacity: 1;
}

#info {
  position: absolute;
  width: 100%;
  top: 200pt;
  text-align: center;
  z-index: 100;
  display: block;
  font-size: 80pt;
  opacity: 1;
  color: #FF8A80;
  background-image: linear-gradient(90deg, rgba(200,100,100,0.1), rgba(200,50,70,0.1));
}

#info p.email {
  font-size: 30pt;
  color: #FFB1DF;
}
